<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    
    <div class="main-content">
        
        {{>header}}
        <p class="title-content">Use this site to get your weather</p>
        <form>
            <input type="text" name="address" id="address" placeholder="Type an Address..">
            <button>Search</button>
        </form>
        <p id="message-1" class="message-display"></p>
        <p id="message-2" class="message-display"></p>
    </div>
    {{!-- to render a partial  {{>(file_name)}}  --}}
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>



</html>