<header>
    
    <nav>
        <div class="row">
            <ul class="main-nav">

                <li><a href="/">Weather</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>

            </ul>

        </div>
        
    </nav>
    <h1 class="title-content">{{title}}</h1>
    <h1 class="title-content">{{name}}</h1>
</header>

